/** Fonts **/
body {
  font-family: Arial, sans-serif;
  font-size: 17px;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 48px;
  padding-bottom:48px;
}
h2{
  font-weight: bold;
  font-size: 24px;
}
h3{
  font-weight: bold;
  font-size:17px;
}
.primary{
  color:#03a3df;
}
.secondary-blue{
  color:#1b447f;
}
.secondary-yellow{
  color:#ecb722;
}
.secondary-grey{
  color:#444444;
}
blockquote{
  color:#03a3df;
}
cite{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color:#03a3df;
}

/** Top Navigation **/
nav ul, .contact-info ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li{
  float:left;
}
nav li:after {
  content: " /";
  padding-left: 12px;
  padding-right:12px;
  font-weight: lighter;
}

nav li:last-child:after {
  content: "";
}

/**contact page**/
.contact-info i {
  padding: 0 10px 0 0;
  color: #03a3df;
}



/**footer**/
footer{
  background-image: url(./imgs/footerimage.jpg);
}
