/** Fonts **/
body {
  font-family: Arial, sans-serif;
  font-size: 17px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 48px;
  padding-bottom:48px;
  background-color: #f2f2f259;
}
.introtext{
  padding-top:32px;
  padding-bottom:32px;
  text-align: center;
  font-size: 1.15em;
}
h2{
  font-weight: bold;
  font-size: 24px;
}
.grow h2{
  font-size:5em;
}
.grow-sm h2{
  font-size:3em;
}
h3{
  font-weight: bold;
  font-size:17px;
}
.grow h3{
  font-size:3em;
}
.grow-sm h3{
  font-size:2em;
  font-style: italic;
}
nav a:hover{
  text-decoration: none;
}

*.white-text, .white-text a{
  color:white;
}
.primary{
  color:#03a3df;
}
*.primary-bkgrd{
  background-color:#03a3df;
}
.btn-outline-primary {
    color: #03a3df;
    border-color:#03a3df;
}
.btn-primary {
    color: #fff;
    background-color: #03a3df;
    border-color: #03a3df;
}
.secondary-blue{
  color:#1b447f;
}
.secondary-yellow{
  color:#ecb722;
}
.secondary-grey{
  color:#444444;
}
.secondary-grey-bkgrd{
  background-color:#444;
}
blockquote{
  color:#03a3df;
}
cite{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color:#03a3df;
}

/** Top Navigation **/


nav ul, .contact-info ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 nav li{
  float:left;
}
nav a:after {
  content: " /";
  padding-left: 12px;
  padding-right:12px;
  font-weight: lighter;
}

nav a:last-child:after {
  content: "";
}
/**index page**/
.bkgrd-img{
  background-image:url(../imgs/bkgrd-img-placeholder.jpg);
  background-size: cover;
  padding: 120px 32px;
  background-position: center;
}
@media screen and (max-width:1000px) {
  .bkgrd-img{
      background-position: bottom;
}
}
.white-bkgrd{
  padding:16px;
  background: #ffffff94;
}


/**contact page**/
.contact-info i {
  padding: 0 10px 0 0;
  color: #03a3df;
}

/**about page **/
.instructors img, .partners img{
  max-width: 250px;
}

/**footer**/
footer{
  padding:64px 16px 32px;
  background-image: url(../imgs/footerimage.jpg);
}
